<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="msg" class="com.demo.spring.Message" scope="prototype">
		<property name="header" value="Lunch Break" />
		<property name="body" value="Lunch May not come today" />
	</bean>
	
	<bean id="mail" class="com.demo.spring.Mail" scope="singleton">
	<property name="toAddress" value="all"/>
	<property name="fromAddr" value="trainer"/>
	<property name="message" ref="msg"/>
	</bean>
</beans>
